#Task 0: Lab Assignment 3 - Task 15

Write a python program thats prints the largest consecutive sequence from a given string S. For example, if S = ‘AABBBCCAAAA’, print ‘AAAA’. If more than one largest consecutive sequence exists, print the first one. Print NONE if no consecutive sequence is found.

=====================================================================

**Sample Input 1:**<br/>
AABBBCCAAAA<br/>
**Sample Output 1:**<br/>
AAAA<br/>

=====================================================================

**Sample Input 2:**<br/>
AABBCC<br/>
**Sample Output 2:**<br/>
AA<br/>

=====================================================================

**Sample Input 3:**<br/>
ABCD<br/>
**Sample Output 3:**<br/>
NONE<br/>

=====================================================================

In [ ]:
word = input()
largest= word[0] #AAAA
consecutive= word[0] #AAAA

for i in range(1, len(word)):
  
  if(consecutive[-1]==word[i]): 
    consecutive+=word[i]
  else:
    consecutive= word[i]
  
  if(len(consecutive)>len(largest)):
    largest= consecutive

if(len(largest)>1):
  print(largest)
else:
  print("NONE")

AABBBCCAAAA
AAAA

In [ ]:
s = input("Enter a string:")
count = 1
largecount = count
new=""
for char in s:
    if (count > largecount):
        largecount = count
        new=(char*largecount)
    elif ( largecount==1):
        new=new+char
    
    elif(count==largecount):
        pass


    i = s.find(char)
    count = 1
    for i in range(i, len(s) - 1):

        if (s[i] == s[i + 1]):
            count += 1

        else:
            break

if(new==s):
  print("NONE")
else: 
  print(new)

Enter a string:AABBBCCAAAA
BBB

#Task 1
Merge the following lists to create the resultant list accordingly

**Sample input 1:**

L1 = [1,2,3,4,5,6,7]

L2 = [A,B,C,D]

**Output:**

L12 = [1,2,A,3,4,B,5,6,C,7,D]

**Sample input 2:**

L1 = [1,2,3,4]

L2 = [A,B,C,D]

**Output:**

L12 = [1,2,A,3,4,B,C,D]

**Sample input 3:**

L1 = [1,2,3,4,5,6,7,8]

L2 = [A,B]

**Output:**

L12 = [1,2,A,3,4,B,5,6,7,8]

In [ ]:
L1 = [1,2,3,4,5,6,7]

L2 = ["A","B","C","D"]

L12=[] #1 2 A


while (True):

  if(len(L1)==0 and len(L2)==0):
    break
  
  if(len(L1)>0):
    L12.append(L1[0])
    L1.pop(0)
  if(len(L1)>0):
    L12.append(L1[0])
    L1.pop(0)
  if(len(L2)>0):
    L12.append(L2[0])
    L2.pop(0)

  
print(L12)

[1, 2, 'A', 3, 4, 'B', 5, 6, 'C', 7, 'D']

#Task 2
Take two lists and create a SET Intersection

Sample input 1:

L1 = [1, 5, 3]

L2 = [2, 5, 4]

Output:

L12 = [5]

Sample input 2:

L1 = [1, 6, 3]

L2 = [2, 5, 4]

Output:

L12 = []

In [ ]:
L1 = [1, 5, 3]
L2 = [2, 5, 4]

L12= []

for i in L1:
  if(L2.count(i)>0):
    L12.append(i)

L12.sort()
print(L12)

#Task 3
Write a python program that reads a string from the user and prints only the digits inside the string.

Sample Input:

hbf8a347ifbv

Output:

8347

In [ ]:
word= input()
digit= ['0','1','2','3','4','5','6','7','8','9']

for i in word:
  if (digit.count(i)>0):
    print(i, end="")

hbf8a347ifbv
8347

In [ ]:
word= input()

for i in word:
  j= ord(i)
  if (j>=48 and j<=57):
    print(i,end="")

hbf8a347ifbv
8347

# Task 4

Write a Python program that takes a list A and a number as input from the user. Create a list by concatenating the input list which range goes from 1 to n.

Sample input1:

A = ['p', 'q']

N = 5  
Sample Output1:

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

Sample input2:

A = ['p', 'q', 'r']

N = 3

Sample Output2:

['p1', 'q1', 'r1', 'p2', 'q2', 'r2', 'p3', 'q3', 'r3']

Sample input3:

A = ['p', 'q', 'r','s']

N = 2

Sample Output3:

['p1', 'q1', 'r1', 's1', 'p2', 'q2', 'r2', 's2']

In [ ]:
A= input().split(",")

N= int(input())

result=[]
elem=""
j=1

for i in A:
  for i in A:
    elem= i+str(j)
    result.append(elem)
  j+=1

print(result)

a,b,c,d,e
5
['a1', 'b1', 'c1', 'd1', 'e1', 'a2', 'b2', 'c2', 'd2', 'e2', 'a3', 'b3', 'c3', 'd3', 'e3', 'a4', 'b4', 'c4', 'd4', 'e4', 'a5', 'b5', 'c5', 'd5', 'e5']

#Task 5
Write a Python program that takes a list from the user. Then finds the first even and the last odd number in the list.

Sample Input1: 

[1, 3, 5, 7, 4, 1, 6, 8]

Sample Output1: 

First even: 4 and Last odd:1

Sample Input2: 

[55, 5, 7, 9, 11]

Sample Output2: 

First even: not found and Last odd: 55

In [ ]:
A= input().split(",")

for i in A:
  i= int(i)
  if (i%2==0):
    print("First even:",i,end=" ")
    break

print("and First even: Not Found")

for i in range (len(A)-1,0,-1):
  p= int(A[i])
  if (p%2==1):
    print("and Last odd: ",p)
    break

print("and Last odd: Not Found")

55, 5, 7, 9, 11
and First even: Not Found
and First even: Not Found
and First even: Not Found
and First even: Not Found
and First even: Not Found
and Last odd:  11

#Task 6

Write a Python program that reads a number and finds the sum of the series of  1 +11 + 111 + 1111 + ….+N terms.

Sample Input1: 

5

Sample Output1:

1 + 11 + 111 + 1111 + 11111

The Sum is: 1234

Sample Input2: 

8

Sample Output2:

1 + 11 + 111 + 1111 + 11111 + 111111 + 1111111 + 11111111 

The Sum is: 12345678

#Task 7

Write a Python program that takes two strings from the user. Then remove characters from the first string which are present in the second string. [you are not allowed to use  replace() ]

**Sample Input1:**

First String: India is great

Second String: is

**Sample Output1:**

nda  great

**Sample Input2:**

First String: this is cse110 course and we love it

Second String: 1iaolv

**Sample Output2:**

ths s cse0 curse nd we e t